:root {
  --primaryFont: 'Young Serif', sans-serif;
  --secondaryFont: 'Outfit', sans-serif;

  --Nutmeg: hsl(14, 45%, 36%);
  --darkRaspberry: hsl(332, 51%, 32%);
  --White: hsl(0, 0%, 100%);
  --RoseWhite: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --LightGrey: hsl(30, 18%, 87%);
  --WengeBrown: hsl(30, 10%, 34%);
  --DarkCharcoal: hsl(24, 5%, 18%);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Globals */
h1,
h2,
h3 {
  font-family: var(--primaryFont);
  margin: 0;
  color: var(--Nutmeg);
  font-weight: 400;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

p {
  font-family: var(--secondaryFont);
  font-size: 16px;
  color: var(--WengeBrown);
  margin: 0;
  line-height: 1.5;
}

ul,
ol {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 8px;
}

li {
  display: flex;
  padding-left: 8px;
  gap: 16px;
}

/* Utilities */
.content-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  margin-bottom: 32px;
}

.bold {
  font-weight: 600;
}

.subtitle {
  margin-bottom: 24px;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--Eggshell);
  margin: 0;
  margin-bottom: 32px;
}

body {
  background-color: var(--Eggshell);
  margin: 0;
  display: grid;
  place-content: center;
}

.main {
  background-color: var(--White);
  width: 100%;
  min-width: 352px;
}

.container {
  padding: 40px 32px;
  margin: 0;
}

.coverImg {
  width: 100%;
  height: 171px;
  margin: 0;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Title Section */
.title {
  font-size: 36px;
  line-height: 1;
  color: var(--DarkCharcoal);
}

.description {
  font-size: 15.8px;
}

/* Time Section */
.time {
  background-color: var(--RoseWhite);
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.time-title {
  font-family: var(--secondaryFont);
  font-weight: 600;
  color: var(--darkRaspberry);
  font-size: 20px;
}

.dot-container {
  width: 16px;
}

.dot {
  background-color: var(--darkRaspberry);
  border-radius: 50%;
  width: 4px;
  height: 4px;
}

.list-item {
  align-items: center;
}

/* Ingredients Section */

/* Instructions Section */
.instructions-item {
  display: flex;
}

.number p {
  color: var(--Nutmeg);
  font-family: var(--secondaryFont);
  font-weight: 700;
}

/* Nutrition Section */
.nutrition-description {
  margin-bottom: 24px;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row {
  display: flex;
  gap: 16px;
  padding: 0 32px;
  border-bottom: 1px solid var(--Eggshell);
}

.no-border {
  border: none;
}

.col {
  width: 50%;
  text-align: start;
  padding-bottom: 12px;
}

.cell-value {
  color: var(--Nutmeg);
  font-weight: 700;
}

@media (min-width: 736px) {
  body {
    padding: 123px 353px;
  }
  .main {
    width: 736px;
    border-radius: 24px;
  }
  .description {
    font-size: 16px;
  }
  .title {
    font-size: 40px;
  }
  .coverImg {
    width: 656px;
    height: 300px;
    margin: 40px 40px 0;
    border-radius: 12px;
  }
}
